{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block meta_title %}{% trans "Sign Out" %}{% endblock %}

{% block logo %}
    <div class="pt-3 m-3" style="width: 200px;">
        {% include 'components/dynamic_icons/6x_labs_logo.svg' %}
    </div>
{% endblock logo %}

{% block content %}
    <h1 class="display-4 fw-bold pb-3">{% trans "Sign out" %}</h1>

    <p class="text-muted pb-3">
        {% trans "Are you sure you want to sign out?" %}
    </p>

    {% url 'account_logout' as logout_url %}
    <form method="post" action="{{ logout_url }}">
        {% csrf_token %}
        {{ redirect_field }}

        <button type="submit" class="btn-auth">{% trans "Sign out" %}</button>
    </form>

    <div class="pb-3 text-muted">
        <a href="{% url 'home' %}">{% trans "Cancel" %}</a>
    </div>
{% endblock content %}

{% block footer %}
    <p class="pt-3 text-muted small">{% trans "You will be logged out of your account." %}</p>
{% endblock footer %}
