{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block meta_title %}{% trans "Password Reset" %}{% endblock %}

{% block logo %}
    <div class="pt-3 m-3" style="width: 200px;">
        {% include 'components/dynamic_icons/6x_labs_logo.svg' %}
    </div>
{% endblock logo %}

{% block content %}
    <h1 class="display-4 fw-bold pb-3">{% trans "Check your email" %}</h1>

    <div class="alert alert-success" role="alert">
        <i class="bi bi-envelope-check me-2"></i>
        {% trans "We have sent you an email with instructions to reset your password." %}
    </div>

    <p class="text-muted pb-3">
        {% trans "If you have not received it, please check your spam folder. Otherwise, contact us if you do not receive it in a few minutes." %}
    </p>

    <a href="{% url 'account_login' %}" class="btn-auth" style="text-decoration: none;">
        {% trans "Back to login" %}
    </a>
{% endblock content %}

{% block footer %}
    <p class="pt-3 text-muted small">{% trans "Please contact us if you have any trouble resetting your password." %}</p>
{% endblock footer %}
