{% extends 'components/modals/modal_minimal.html' %}

{# Override modal styling to work with card component #}
{% block modal_content_classes %}shadow-sm rounded-3 p-0 overflow-hidden{% endblock %}

{% block modal_content %}
  {% url 'account_login' as login_url %}
  {% url 'account_signup' as signup_url %}
  {% url 'account_logout' as logout_url %}

  <h2 id="{{ modal_id }}Label" class="visually-hidden">Account menu</h2>
  <div class="card">
    {% if user.is_authenticated %}
    <div class="card-header d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center" id="accountdisplaybox">
        <div class="me-3">
          {% include 'components/user_avatar.html' with user=user height=48 width=48 %}
        </div>
        <div id="accountinfo">
          <div class="fw-bold">{{ user.display_name|default:user.username }}</div>
          <div>
            {% if user.is_admin %}
              <div>Admin</div>
            {% elif user.is_superuser %}
              <div>Superuser</div>
            {% else %}
              <div>{{ user.subscription_tier|default:"Sapling Tier" }}</div>
              {# <div class="text-muted">{{ user.team_members.count }} members</div>#}
            {% endif %}
          </div>
        </div>
      </div>
      <button
        role="button"
        class="btn btn-secondary btn-sm"
        data-bs-toggle="modal"
        data-bs-target="#UserSettingsModal">
        <i class="bi bi-gear me-1"></i>Settings
    </button>
    </div>

    {# Card body #}
    <div class="card-body">
      {# <a href="{{ add_team_members_url }}">Add Team members</a> #}
      <div class="teamspaceinfo">
        <div class="text-muted">{{ user.email }}</div>
        {# <div>{{ user.teamspace }}</div> #}
      </div>
      <hr>
      <a
        class="btn btn-secondary btn-sm"
        href="{{ logout_url }}"
        role="button"
        >Log out</a>
    </div>

    {% else %}
      {# Code to render if user is logged out #}
      <div class="card-body">
        <a href="{{ login_url }}">Log in</a> | <a href="{{ signup_url }}">Sign up</a>
      </div>
    {% endif %}
  </div>

  
  {# UserSettingsModal deliberately not included here to avoid nesting modals; see sidebar include #}

  {% endblock %}
