
# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.py.class


# Django
*.log
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# Environments
.env
.venv/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Others
*.sqlite3
env.py
.claude/settings.local.json
