/*Root Variables*/
:root {
    --primary-colour : #ffffffbd;
    --text-colour: #1E3A5F;
}

/*Global Styles*/
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--primary-colour);
    color: var(--text-colour);
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5{
    color: var(--text-colour);
}

/*Button Styles*/

.btn-custom{
    background-color: var(--text-colour);
    color: var(--primary-colour);
    border: var(--text-colour) 2px solid;
}